/* CSS declarations go here */
.map-container {
  width: 600px;
  max-width: 100%;
  height: 250px;
}

.refresh-indicator {
  display: 'inline-block';
  position: 'relative';
  margin: 0 auto;
}

.app-root {
  display: 'flex';
  flexWrap: 'wrap';
  justifyContent: 'space-around';
}

.app-gridList {
  width: 300;
  overflowY: 'auto';
}

.grid-image {
  width: 150px;
  height: 100px;
}
