node_modules/
.DS_Store
.coverage
cordova-build-override/platforms/android/google-services.json
cordova-build-override/google-services.json
settings.json
settings_release.json
settings_staging.json
mup.js
private/deploy_scripts/mup*.js
private/parallel-access-mhews.js
icons/Samet*
.coverage/
packages/meteor-chai
