sudo: false
language: node_js
node_js:
  - "5"
before_install:
  - export TZ=Pacific/Apia
  - curl https://install.meteor.com | /bin/sh
  - export PATH="$HOME/.meteor:$PATH"
  - cat package.json
  - npm i spacejam
  - npm i --save-dev https://github.com/serut/spacejam/tarball/windows-suppport-rc4
script:
  - meteor build $HOME/build.tgz
cache:
  directories:
    - node_modules
before_script:
  - meteor add dispatch:mocha
script:
  - date
  - ./node_modules/spacejam/bin/spacejam --driver-package=practicalmeteor:mocha-console-runner test --coverage 'out_lcovonly out_coverage out_html'
addons:
    code_climate:
        repo_token: 67cabf430516e7b78e7be6a5c4f642bb76c8f54387fd1de9e30bf3472b178092
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < .coverage/lcov.info
