sudo: false
language: node_js
before_install:
  - export TZ=Pacific/Apia
  - curl https://install.meteor.com | /bin/sh
  - export PATH="$HOME/.meteor:$PATH"
script:
  - meteor build $HOME/build.tgz
cache:
  directories:
    - node_modules
before_script:
  - meteor npm install
  - meteor add dispatch:mocha
  - npm i --save-dev selenium-webdriver@3.0.0-beta-2 chromedriver
script:
  - date
  - TEST_BROWSER_DRIVER=chrome meteor test --once --driver-package dispatch:mocha
addons:
    code_climate:
        repo_token: 67cabf430516e7b78e7be6a5c4f642bb76c8f54387fd1de9e30bf3472b178092
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < lcov.info
