th.adminWeatherTable {
  font-size: 10pt;
  font-family: Roboto, Sans-serif;
  color: StaleGrey;
  font-weight: normal
}

table.adminWeatherTable {
  font-size: 10pt;
  font-family: Roboto, Sans-serif;
  color: StaleGrey;
  font-weight: normal
}

.adminActiveIcon {
  padding: 8px;
  width: 32px;
  height: 32px;
  border: 2px solid blue
}

.adminInactiveIcon {
  padding: 8px;
  width: 32px;
  height: 32px;
}
