th.adminWeatherTable {
  font-size: 10pt;
  font-family: Roboto, Sans-serif;
  color: StaleGrey;
  font-weight: normal
}

table.adminWeatherTable {
  font-size: 10pt;
  font-family: Roboto, Sans-serif;
  color: StaleGrey;
  font-weight: normal
}
