th.weatherTable {
  font-size: 10pt;
  font-family: Roboto, Sans-serif;
  color: StaleGrey;
  font-weight: normal
}

table.weatherTable {
  font-size: 10pt;
  font-family: Roboto, Sans-serif;
  color: StaleGrey;
  font-weight: normal
}
